@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  top: 20px !important;
  inset-inline-end: -60px !important;
  background: transparent !important;
  border-start-start-radius: 4px !important;
  border-end-start-radius: 4px !important;
}
